* {
    padding: 0px;
    margin:0px;
    box-sizing : border-box;
    font-family: 'Roboto', sans-serif;
  }
  body {
    background-color: #070125;
    background: radial-gradient(circle,  rgb(2, 2, 53) 3%, rgba(2,0,36,1) 100%)
  }

  main {
    width: 100%;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }

  h2 {
      font-size: 60px;
      font-weight: normal;
      color: white;
      margin-bottom: 5%;
      line-height: 1;
  }
  h3 {
      font-size: 14px;
      font-weight: 10;
      color: white;
  }
  p {
      font-size: 16px;
      font-weight: normal;
      color: #4F4B65;
      margin-top: 5%;
      

  }
  header {
      display: flex;
      justify-content: space-between;
      position: relative;
      align-items: center; 
      margin-top: 10px; 
      
  }

  .flex-menu {
      display: flex;
      background-color:#070125;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 15px; 
      margin-right: 80px;
      
  }

  .flex-menu a {
      color: white;
      padding: 1px;  
      margin-left: 40px;  
      text-decoration:none;  
      
    }

 .signup a {
     color: #00F387;
     padding-right: 15px;
     border-right: 2px white solid ;
    
    }
.login a {
    margin-left: 15px ;
    }

  .button {
        background-color: #00F387;
        color: white;
        border: thick;
        padding: 16px 60px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 32px;
        position: relative;
        justify-content: center;
        margin-top: 10%;
        max-width: fit-content;
  }
  .button2 {
        background-color: white;
        color: black;
        font-weight: bold;
        font-size: 16px;
        border-radius: 32px;
        padding: 16px 30px;
        text-align: center;
        display: flex;
        align-self: center;
        margin: auto;
        margin-bottom: 30px;
        
  }

  .music {
      width: 40%;
      margin-top: -180px;
      position: relative;
      display:flex;
      flex-direction: column;
      

  }

  section {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 100px;
        
  }

  .domboom img {
    position: relative;
    height: fit-content;
    width: 100%;
    max-width: 100%;
    max-inline-size: 100%;
    
   
   }
.padright1 {
    position: absolute;
    top: 30px;
    left: 370px;
    width: 100px;
    padding-bottom: 100px;
    height: 100px;  
    background-color: #7c0b15;
    border-radius: 100%;
      
}
 
.padright2 {
  position: absolute;
  bottom: 235px;
  left: 415px;
  width: 10%;
  background-color: red;
  border-radius: 100%;
  height: 20%;   

}


.padright3{
    position: absolute;
    top: 240px;
    left: 445px;
    width: 150px;
    height: 150px;  
    background-color: rgb(19, 131, 243);
    border-radius: 100%;
  
}

.padcenter1{
    position: absolute;
    top: 70px;
    left: 530px;
    width: 150px;
    height: 150px;  
    background-color: #b6236c;
    border-radius: 100%;
  
  
}

.padcenter2{
    position: absolute;
    top: 70px;
    left: 690px;
    width: 150px;
    height: 150px;  
    background-color: #1974ce;
    border-radius: 100%;
}

.padleft2{
  position: absolute;
  bottom: 240px;
  right: 70px;
  width: 10%;
  background-color: green;
  border-radius: 100%;
  height: 20%; 
  
}

.padleft3{
  position: absolute;
  bottom: 80px;
  right: 97px;
  width: 150px;
  height: 150px;  
  background-color: rgb(243, 127, 19);
  border-radius: 100%;



}

.padleft1 {
    position: absolute;
  top: 30px;
  right: 15px;
  width: 10%;
  background-color: rgb(128, 0, 111);
  border-radius: 100%;
  height: 20%; 
}



  


  footer {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 40px;
        
  }

.footer h2 {
        font-size: 27px;
      color: white;
      margin-bottom: 5%;
      line-height: 1;
      font-weight: bold;

}
  .footer p {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 20px;
        
  }

  
